body{
  
  background-color: rgb(28, 121, 121);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.card{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 0 5px 2px #0000004d;
  background-color: rgb(119, 184, 184);
  color: black;
  transform-style: preserve-3d;
  font-weight: 600;
  height: 250px;
  cursor: pointer;
  transition: .15s;
  transform-origin: center;
  position: relative;
  
}
button{
  
}

.card-front, .card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .flipped{
transform: rotateX(180deg);
}

.card-back {
  transform: rotateX(180deg);
}
.card-front {
  z-index: 2;
}


